.jumbotron {
    background: url("../img/ikachan_background.png") #5d4384 center center / cover no-repeat;
    color: #ffffff;
}

.jumbotron p {
    color: #cdbfe3;
}

.btn-github {
    background-color: transparent;
    border: solid 1px #ffffff;
    color: #ffffff;
}

.btn-github:hover {
    background-color: #ffffff;
    color: #5d4384;
}

.result-date {
    font-size: 20px;
    padding-left: 15px;
}

.result-image-container {
    padding: 10px 0;
}

.result-image {
    height: 240px;
    width: 320px;
}

.label-result {
    font-size: 20px;
}

.label-result {
    background-color: transparent;
    border: solid 1px;
}

.label-result.win {
    border-color: #337ab7;
    color: #337ab7;
}

.label-result.lose {
    border-color: #d9534f;
    color: #d9534f;
}
