@font-face {
    font-family: "ikamodoki";
    src: url("../font/ikamodoki1_0.woff") format("woff")
}

.ika-font {
    font-family: "ikamodoki", sans-serif;
}

.jumbotron {
    padding-top: 20px;
    background-color: #5d4384;
    color: #ffffff;
}

.jumbotron .description {
    margin: 10px 0 15px 0;
    font-size: 18px;
    color: #cdbfe3;
}

.btn-github {
    background-color: transparent;
    border: solid 1px #ffffff;
    color: #ffffff;

    transition-property: background-color, color;
    transition-duration: 0.3s;
}

.btn-github:hover, .btn-github:focus {
    background-color: #ffffff;
    color: #5d4384;
}

.page-header, .count-header {
    color: #565656;
}

.count-container {
    margin-bottom: 15px;
}

.count-label {
    padding: 5px 10px;
    border: solid 1px;
    border-radius: 3px;
    color: #ffffff;
}

.count-label.win {
    border-color: #0B94DB;
    background-color: #0B94DB;
}

.count-label.lose {
    border-color: #d9404a;
    background-color: #d9404a;
}

.count {
    margin: 0 15px 0 10px;
    color: #808080;
}

.progress {
    height: 35px;
}

.progress-bar {
    line-height: 35px;
    font-size: 15px;
}

.progress-bar-primary {
    background-color: #0B94DB;
}

.progress-bar-danger {
    background-color: #d9404a;
}

.result-image-container {
    opacity: 0;
    margin: 0 10px 30px 10px;
    padding: 5px 5px 10px 5px;
    float: left;

    transition-property: opacity;
    transition-duration: 1s;
}

.result-image-container.visible {
    opacity: 1;
}

.result-image-container .result-image {
    height: 240px;
    width: 320px;
    margin-bottom: 10px;
}

.label-result {
    border: solid 1px;
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
}

.label-result.win {
    background-color: #0B94DB;
    border-color: #0B94DB;
}

.label-result.lose {
    background-color: #d9404a;
    border-color: #d9404a;
}

.result-date {
    float: right;
    padding: 3px 5px 0 0;
    font-size: 12px;
    color: #808080;
}

#load {
    clear: both;
    width: 120px;
    margin: 0 auto 20px auto;
    padding: 3px 0 7px 0;
    border: solid 1px #5cc256;
    border-radius: 6px;
    text-align: center;
    font-size: 20px;
    color: #5cc256;

    transition-property: background-color, color, cursor;
    transition-duration: 0.3s;
}

#load:hover {
    background-color: #5cc256;
    color: #ffffff;
    cursor: pointer;
}
