!!!
%html
  %head
    %link{ :rel => 'stylesheet', :href => './bower_components/bootstrap/dist/css/bootstrap.min.css' }
    %link{ :rel => 'stylesheet', :href => './bower_components/font-awesome/css/font-awesome.min.css' }
    %link{ :rel => 'stylesheet', :href => './css/ui.css' }
    %title ika-shot
  %body
    %div.jumbotron
      %div.container
        %h1 Ikashot
        %p Splatoonの結果記録プログラムのサンプルです。
        %a{ :href => 'https://github.com/hogesuke/ika-shot', :target => '_blank' }
          %button.btn.btn-lg.btn-github
            %span.fa.fa-github-alt &nbsp;View on GitHub
    %div.container
      %h2.page-header Summary
      %div.progress
        %div.progress-bar{ 'aria-valuenow' => @win_rate, 'aria-valuemin' => '0', 'aria-valuemax' => '100', :style => "width: #{@win_rate}%" }= @win_rate
      %h2.page-header Results
      - @items.each do |item|
        %div.row
          %div.col-md-12
            -if item.result == 'win'
              %span.label-result.label.win WIN
            -else
              %span.label-result.label.lose LOSE
            %span.result-date= item.date
            %div.result-image-container
              %img.result-image.thumbnail{ :src => "/image/#{item.id}" }
